<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Hutscape</strong> by <a href="https://sayan.ee">Sayanee</a>.
    </p>
    <p> The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      <br>
      The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      <br>
      <a href="https://www.flaticon.com/free-icon/home_6675253?related_id=6675253&origin=tag" title="house icons">House logo</a> created by smashingstocks -Flaticon </a>
    </p>
  </div>
</footer>
