{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "/" | relative_url }}"> {{ site.title | escape }} </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    {%- if titles_size > 0 -%}
    <div class="navbar-start">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a class="navbar-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
    {%- endif -%}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <p class="handwriting has-text-grey-light">Spotted <br>a mistake?</p>
          <a class="button is-primary" href="{{site.github.repository_url}}/blob/master/{{page.path}}"><strong>Edit this page</strong></a>
          <a class="button is-light" href="{{site.github.repository_url}}"> GitHub </a>
        </div>
      </div>
    </div>
  </div>
</nav>
