{% assign pages = site.pages | sort: 'sequence' | where: 'type', 'header' %}

<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "/" | relative_url }}"> {{ site.title | escape }} </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      {%- for pg in pages -%}
        {%- if pg.title -%}
        <a class="navbar-item" href="{{ pg.url | relative_url }}">{{ pg.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <p class="handwriting has-text-grey-light">Spotted <br>a mistake?</p>
          <a class="button is-primary" href="{{site.github.repository_url}}/blob/master/{{page.path}}"><strong>Edit this page</strong></a>
          <a class="button is-light" href="{{site.github.repository_url}}">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
          <a class="button is-light" href="{{site.youtube}}">
            <span class="icon">
              <i class="fab fa-youtube"></i>
            </span>
            <span>YouTube</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
