<script>
var searchStyle = document.getElementById('search_style')
var urlParams = new URLSearchParams(window.location.search)
var searchEl = document.getElementById('search')
var searchParamValue = urlParams.get('search')

if (urlParams.get('search')) {
  searchEl.value = searchParamValue
  displayResults(searchParamValue)
} else {
  clearURLparams()
}

searchEl.addEventListener('input', function() {
  if (!this.value) {
    searchStyle.innerHTML = ""
    clearURLparams()

    return
  }

  displayResults(this.value)
  this.value ? addURLParams(this.value) : clearURLparams()
})

function clearURLparams() {
  if (history.pushState) {
    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname
    window.history.pushState({path:newurl},'',newurl)
  }
}

function addURLParams(params) {
  if (history.pushState) {
    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?search=' + params
    window.history.pushState({path:newurl},'',newurl)
  }
}

function displayResults(searchTerm) {
  searchStyle.innerHTML = ".searchable:not([data-index*=\"" + searchTerm.toLowerCase() + "\"]) { display: none; }"
}
</script>
