{% if page.has_code != false %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">Code</h2>
    {% assign tutorial_name = page.path | remove: "_tutorials/" | remove: ".md" %}

    {% if page.code == "html" %}
      <!-- For HTML code examples -->
      <a href="https://github.com/hutscape/hutscape.github.io/tree/master/_tutorials/{{ tutorial_name }}-demo" class="button is-primary">Download code</a>
      <a href="{{ site.url }}/{{ tutorial_name }}-demo.html" class="button is-primary">View demo</a>
      <code class="is-size-4">{{ tutorial_name }}-demo.html</code>
      {% highlight html %}{% include_relative {{ tutorial_name }}-demo/{{ tutorial_name }}-demo.html %}{% endhighlight %}
    {% elsif page.code == "shell" %}
      <!-- For shell script code examples -->
      <a href="{{ site.url }}/{{ tutorial_name }}" class="button is-primary">View command line code</a>
      {% highlight shell %}{% include_relative code/{{ tutorial_name }}/{{ tutorial_name }}.sh %}{% endhighlight %}
    {% elsif page.code == "yaml" %}
      <!-- For yaml config examples in ESPHome -->
      <a href="{{ site.github.code_folder }}{{ tutorial_name }}" class="button is-primary">Download config</a>
      <code class="is-size-4">{{ tutorial_name }}.yaml</code>
      {% highlight yaml %}{% include_relative code/{{ tutorial_name }}/{{ tutorial_name }}.yaml %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative code/{{ tutorial_name }}/Makefile %}{%
      endhighlight %}
    {% elsif page.code == "rust" %}
      <!-- For rust examples in ESPHome -->
      <a href="{{ site.github.code_folder }}{{ tutorial_name }}" class="button is-primary">Download code</a>
      <code class="is-size-4">{{ page.source_code_path }}</code>
      {% highlight rust %}{% include_relative code/{{ tutorial_name }}/{{
      page.source_code_path }} %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative code/{{ tutorial_name }}/Makefile %}{%
      endhighlight %}
    {% elsif page.code == "python" %}
      <!-- For python examples in ESPHome -->
      <a href="{{ site.github.code_folder }}{{ tutorial_name }}" class="button is-primary">Download code</a>
      <code class="is-size-4">{{ page.source_code_path }}</code>
      {% highlight rust %}{% include_relative code/{{ tutorial_name }}/{{
      page.source_code_path }} %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative code/{{ tutorial_name }}/Makefile %}{%
      endhighlight %}
    {% elsif page.code == "c" %}
      <!-- For C/C++ file code examples -->
      <a href="{{ site.github.code_folder }}{{ tutorial_name }}" class="button is-primary">Download code</a>
      <code class="is-size-4">{{ page.source_code_path }}</code>
      {% if page.source_code_path %}
        {% highlight c %}{% include_relative code/{{ tutorial_name }}/{{
      page.source_code_path }} %}{% endhighlight %}
      {% else %}
        {% highlight c %}{% include_relative code/{{ tutorial_name }}.c %}{% endhighlight %}

        <h2 class="title is-2">Makefile</h2>
        {% highlight make %}{% include_relative code/{{ tutorial_name }}/Makefile %}{% endhighlight %}
      {% endif %}
    {% else %}
      <!-- For Arduino INO file code examples -->
      <a href="{{ site.github.code_folder }}{{ tutorial_name }}" class="button is-primary">Download code</a>
      <code class="is-size-4">{{ tutorial_name }}.ino</code>
      {% highlight c %}{% include_relative code/{{ tutorial_name }}/{{ tutorial_name }}.ino %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative code/{{ tutorial_name }}/Makefile %}{% endhighlight %}
    {% endif %}
  </div>
</section>
{% endif %}
