---
layout: default
---

<section class="section is-small">
  <div class="container">
    <h1 class="title is-1 has-background-info-light">{{ page.title | escape }}</h1>
    <p class="subtitle">{{ page.description | escape }}</p>
  </div>
</section>

{% for check in page.checks %}
<section class="section">
  <div class="container">
    <h2 class="title is-2 has-background-warning-light">{{check.title}}</h2>
    {%- if check.subtitle -%}
    <p class="subtitle is-5">{{check.subtitle}}</p>
    {% endif %}

    <div class="content is-medium">
      <ul>
        {% for li in check.list %}
        <li>
          <label class="checkbox">
            <input type="checkbox">
            {{ li.name }}
          </label>
        </li>
        {% endfor %}
      </ul>

      {%- if check.image -%}
      <img src="/assets/images/checklists/{{ check.image }}">
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}

<section class="section">
  <div class="container">
    {%- if page.references -%}
    <h2 class="title is-2">📚 References</h2>

    <div class="content">
      <ul>
        {% for ref in page.references %}
        <li><a href="{{ ref.url }}">{{ ref.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {{ content }}
  </div>
</section>
