---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <ul>
      {% for tag in page.hardware %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>

    {% if page.prerequisites %}
    <h2>Pre-requisites</h2>
    <ul>
      {% for pre in page.prerequisites %}
        <li><a href="{{ pre.url }}">{{ pre.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {{ content }}

    {% for image in site.static_files %}
      {% if image.path contains 'assets/images/components' %}
        {% assign image_base = page.path | remove: "_components/" | remove: ".md" | remove: ".jpg" | remove: ".png" | downcase %}
        {% if image.path contains image_base %}

          {% assign arduino_settings_image = image_base | append: '-arduino-setting' %}
          {% if image.path contains arduino_settings_image %}
            <h2>Arduino settings</h2>
            <img src="{{ image.path }}" alt="">
          {% endif %}

          {% assign schematic_image = image_base | append: '-schematic' %}
          {% if image.path contains schematic_image %}
            <h2>Schematic</h2>
            <img src="{{ image.path }}" alt="">
          {% endif %}

          {% assign wiring_image = image_base | append: '-wiring' %}
          {% if image.path contains wiring_image %}
            <h2>Wiring</h2>
            <img src="{{ image.path }}" alt="">
          {% endif %}

          {% assign prototype_image = image_base | append: '-prototype' %}
          {% if image.path contains prototype_image %}
            <h2>Prototype</h2>
            <img src="{{ image.path }}" alt="">
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <h2>Code</h2>
    {% highlight c %}{% include_relative {{ page.path | remove: "_components/" | remove: ".md" }}/{{ page.path | remove: "_components/" | remove: ".md" }}.ino %}{% endhighlight %}


    {% for image in site.static_files %}
      {% if image.path contains 'assets/images/components' %}
        {% assign image_base = page.path | remove: "_components/" | remove: ".md" | remove: ".jpg" | remove: ".png" %}
        {% if image.path contains image_base %}
          {% if image.path contains '-console' %}
            <h2>Serial console</h2>
            <img src="{{ image.path }}" alt="">
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if page.references %}
    <h2>References</h2>
    <ul>
      {% for ref in page.references %}
        <li><a href="{{ref.url}}">{{ ref.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
