<!DOCTYPE html>
<html>
{%- include head.html -%}
<body>
{%- include navbar.html -%}

{{ content }}
{%- include footer.html -%}

<!-- Scripts -->
{%- include menu-mobile.html -%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
  integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
  integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor.js/1.0.6/anchor.min.js"
  integrity="sha512-K6JU+YkY3/minq5HPh8QVqj2nVJZKlPLHu3SbEkyy2/lrtxFmXjufFWqc/61PxS8TqFpA627+sapumM/g+k7vw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>anchors.add()</script>

{% if page.url == "/tutorials" or page.url == "/references" %}
  {%- include search.html -%}
{%- endif -%}
</body>
</html>
