---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  <h2 class="post-list-heading">Projects</h2>
  <ul class="post-link">
  {% assign projects = site.data.projects | sort: 'sequence' %}
  {% for project in projects reversed %}
    <li>
      <a href="{{ project.url }}">
        {{ project.name }}
      </a>
      <p>
        {% for tag in project.tags %}
          {{tag}}
        {% endfor %}
      </p>
      <p>
        {%- if project.cogs -%}
          USD {{ project.cogs }}
        {% endif %}
      </p>
      <p>
        {%- if project.bom -%}
          {{ project.bom }} items
        {% endif %}
      </p>
      <p>
        {%- if project.status -%}
          {{ project.status }} stage
        {% endif %}
      </p>
    </li>
  {% endfor %}
  </ul>

</div>
