---
layout: default
---

<section class="section is-small">
  <div class="container">
    <h1 class="title is-1 has-background-info-light">{{ page.title | escape }}</h1>
    <div class="field is-grouped is-grouped-multiline">
      {% if page.dev_board %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-danger">dev board</span>
          <span class="tag is-light">{{ page.dev_board }}</span>
        </div>
      </div>
      {% endif %}

      {% if page.firmware %}
      {% for firmware in page.firmware %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-info">firmware</span>
          <span class="tag is-light">{{ firmware }}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.chips %}
      {% for chip in page.chips %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-warning">chip</span>
          <span class="tag is-light">{{ chip }}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.tool %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-danger">tool</span>
          <span class="tag is-light">{{ page.tool }}</span>
        </div>
      </div>
      {% endif %}

      {% if page.sensors %}
      {% for sensor in page.sensors %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-info">sensor</span>
          <span class="tag is-light">{{ sensor }}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.features %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-success">features</span>
          {% for feat in page.features %}
          <span class="tag is-light">{{ feat }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if page.versions %}
      {% for v in page.versions %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light is-link">{{ v.name }} version</span>
          <span class="tag is-light">{{ v.version }}</span>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.hardware %}
      {% for item in page.hardware %}
      <span class="tag is-light">{{ item }}</span>
      {% endfor %}
      REMOVE ME!
      {% endif %}
    </div>
    <hr>

    {% if page.dependancies or page.prerequisites %}
    <h2 class="title is-2">Before starting</h2>
    {% endif %}

    <div class="columns is-desktop">
      {% if page.dependancies %}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Dependancies</p>
          </header>

          <div class="card-content">
            <div class="content">Ensure the following requirements are available:</div>
            <div class="content">
              <ul>
                {% for dep in page.dependancies %}
                <li><a href="{{ dep.url }}">{{ dep.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if page.prerequisites %}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Pre-requisites</p>
          </header>

          <div class="card-content">
            <div class="content">Try these simpler examples:</div>
            <div class="content">
              <ol>
                {% for pre in page.prerequisites %}
                <li><a href="{{ pre.url }}">{{ pre.name }}</a></li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if page.components %}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Buy the components</p>
          </header>

          <div class="card-content">
            <div class="content">
              <ol>
                {% for comp in page.components %}
                <li><a href="{{ comp.url }}">{{ comp.name }}</a></li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="content is-medium">
      <h2 class="title is-2">Description</h2>
      {{ content }}
    </div>
  </div>
</section>

{% if page.has_code != false %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">Code</h2>

    {% if page.code == "html" %}
      <!-- For HTML code examples -->
      <a href="https://github.com/hutscape/hutscape.github.io/tree/master/{{page.path | replace:'.md',''}}" class="button is-primary">Download code</a>
      <a href="{{ site.url }}/{{ page.path | remove: '_tutorials/' | replace:'.md','' }}" class="button is-primary">View demo</a>
      {% highlight html %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/{{ page.path | remove: "_tutorials/" | remove: ".md" }}.html %}{% endhighlight %}
    {% elsif page.code == "shell" %}
      <!-- For shell script code examples -->
      <a href="{{ site.url }}/{{ page.path | remove: '_tutorials/' | replace:'.md','' }}" class="button is-primary">View command line code</a>
      {% highlight shell %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/{{ page.path | remove: "_tutorials/" | remove: ".md" }}.sh %}{% endhighlight %}
    {% elsif page.code == "c" %}
      <!-- For C/C++ file code examples -->
      <a href="https://github.com/hutscape/hutscape.github.io/tree/master/{{page.path | replace:'.md',''}}" class="button is-primary">Download code</a>
      {% highlight c %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/{{ page.path | remove:
      "_tutorials/" | remove: ".md" }}.c %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/Makefile %}{%
      endhighlight %}
    {% else %}
      <!-- For Arduino INO file code examples -->
      <a href="https://github.com/hutscape/hutscape.github.io/tree/master/{{page.path | replace:'.md',''}}" class="button is-primary">Download code</a>
      {% highlight c %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/{{ page.path | remove: "_tutorials/" | remove: ".md" }}.ino %}{% endhighlight %}

      <h2 class="title is-2">Makefile</h2>
      {% highlight make %}{% include_relative {{ page.path | remove: "_tutorials/" | remove: ".md" }}/Makefile %}{% endhighlight %}
    {% endif %}
  </div>
</section>
{% endif %}

{% if page.images %}
<section class="section is-small">
  <div class="container">
    <div class="columns is-multiline is-desktop">
      {% if page.images.console %}
      <div class="column is-half">
        <h2 class="title is-2">Serial console</h2>
        <p class="subtitle is-4">Serial output from the firmware.</p>
        <a href="/assets/images/tutorials/{{ page.images.console }}"><img
            src="/assets/images/tutorials/{{ page.images.console }}" alt="{{ page.title | escape }} serial console"></a>
      </div>
      {% endif %}

      {% if page.images.schematic %}
      <div class="column is-half">
        <h2 class="title is-2">Schematic</h2>
        <p class="subtitle is-4">Wire up the hardware accordingly</p>
        <a href="/assets/images/tutorials/{{ page.images.schematic }}"><img
            src="/assets/images/tutorials/{{ page.images.schematic }}" alt="{{ page.title | escape }} schematic"></a>
      </div>
      {% endif %}

      {% if page.images.arduino %}
      <div class="column is-half">
        <h2 class="title is-2">Arduino IDE settings</h2>
        <p class="subtitle is-4">Ensure the following IDE settings before flashing.</p>
        <a href="/assets/images/tutorials/{{ page.images.arduino }}"><img src="/assets/images/tutorials/{{ page.images.arduino }}" alt="{{ page.title | escape }} Arduino IDE settings"></a>
      </div>
      {% endif %}

      {% if page.images.prototype %}
      <div class="column is-half">
        <h2 class="title is-2">Prototype</h2>
        <p class="subtitle is-4">A photo of the actual setup.</p>
        <a href="/assets/images/tutorials/{{ page.images.prototype }}"><img src="/assets/images/tutorials/{{ page.images.prototype }}" alt="{{ page.title | escape }} prototype"></a>
      </div>
      {% endif %}

      {% if page.images.browser %}
      <div class="column is-half">
        <h2 class="title is-2">Browser console</h2>
        <p class="subtitle is-4">Open the browser developer console.</p>
        <a href="/assets/images/tutorials/{{ page.images.browser }}"><img src="/assets/images/tutorials/{{ page.images.browser }}" alt="{{ page.title | escape }} browser"></a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% if page.references %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">References</h2>

    <div class="content">
      <ol>
        {% for ref in page.references %}
          <li><a href="{{ref.url}}">{{ ref.name }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
{% endif %}

{% if page.video %}
<section class="section is-small">
  <div class="container">
    <h2 class="title is-2">Watch</h2>
    <div class="video-container">
      <iframe class="v" src="https://www.youtube-nocookie.com/embed/{{ page.video }}" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
{% endif %}
